.DS_Store
node_modules/
dist/
build/
*.log
.idea/
*.iml
.vscode/
*.local
.gradle/
build/
*/build/
*/*.har
*/*.hsp
ohos/
.deploy/
*.jar
*.aar
*.so
*.dylib
*.dll
*.exe
*.apk
*.obb
*.keystore
signature*.json
entry/.cache
entry/build